<div class="container-fluid padding cream_backgroundcolour">
    <div class="row welcome text-center">
        <div class="col-12">
        <h1 class="display-4"> CONTACT US </h1>
        </div>
    </div>
</div>
<div class="container-fluid padding cream_backgroundcolour">
    <div class="row padding">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <a href='https://www.google.com/maps/place/New+Acropolis+Cultural+Association/@51.5449256,-0.1048801,17z/data=!3m1!4b1!4m5!3m4!1s0x48761b64e1e074d7:0x32458fe303edf6e2!8m2!3d51.5449223!4d-0.1026914' target='newwin'>
            <div class="contactus_padding">
                <div class="card bg-light">
                    <img class="card-img-top_contact img-fluid" src="/static/images/map.png">
                </div>
            </div>
        </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <div class="contactus_text">
            <br><h5 id="footer_title_txt"><b>NEW ACROPOLIS UK</b></h5>
            <h5><b>Address:</b></h5>
            <p>19 Compton Terrace,</p>
            <p>London, N1 2UN</p>
            <h5><b>Telephone:</b></h5>
            <p>0207 359 0059</p>
            <h5><b>Nearest tube:</b></h5>
            <p>Highbury & Islington,</p>
            <p>Victoria Line</p>
        </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
        <div class="contactus_padding">
            <div class="card bg-light">
                <img class="card-img-top_contact img-fluid" src="/static/images/home-school-entrance.png">
            </div>
        </div>
        </div>
    </div>
</div> 