<div class="footer">
  <div class="footerrects">
    <div class="footer_rectangle12"></div>
    <div class="footer_rectangle13"></div>
  </div>
  <div class="textfooter">
    <div class="footer_about">About</div>
    <div class="footer_whatweoffer">What we offer</div>
    <div class="footer_whatu2019son1">What’s On</div>
    <div class="footer_resources">Resources</div>
    <div class="footer_eshop">E-shop</div>
  </div>
  <img class="footer_line2" src="https://anima-uploads.s3.amazonaws.com/5be875abcec4df000d2fb40f/5be878becec4df000951c340/5be878c0cec4df000a409013/img/home-line-2@2x.png" anima-src="https://anima-uploads.s3.amazonaws.com/5be875abcec4df000d2fb40f/5be878becec4df000951c340/5be878c0cec4df000a409013/img/home-line-2@2x.png">
</div>