<footer>
  <div class="text-center text-md-left">
    <div class="row text-center text-md-left">
      <div class="col-md-4 col-lg-4 col-xl-4">
        <h6 class="text-uppercase mb-4 font-weight-bold">NEW ACROPOLIS UK</h6>
        <p id="yellow_txt">Address:</p>
        <p>19 Compton Terrace,</p>
        <p>London, N1 2UN</p>
        <p id="yellow_txt">Telephone:</p>
        <p>0207 359 0059</p>
        <p id="yellow_txt">Nearest tube:</p>
        <p>Highbury & Islington,</p>
        <p>Victoria Line</p><br>
        <p id="yellow_txt">SEND US A MESSAGE</p>
        <div>
          <a href="#twitter" class="footer_icons"><img src='/static/images/twitter.png'></a>
          <a href="https://www.instagram.com/newacropolisuk/" class="footer_icons"><img src='/static/images/instagram.png'></a>
          <a href="https://www.facebook.com/newacropolisuk/" class="footer_icons"><img src='/static/images/facebook.png'></a>
          <a href="https://www.youtube.com/user/nuevacropolisin/featured" class="footer_icons"><img src='/static/images/youtube.png'></a>
        </div>
      </div>

      <hr class="w-100 clearfix d-md-none">
      <div class="text-center col-md-4 col-lg-4 col-xl-3">
        <img src="/static/images/home-image-magazine.png" class="footer_magazine"><br><br><br><br>
        <form>
          <input class="subscribe" type="text" id="femail" name="femail" placeholder="subscribe to our magazine">
        </form>
      </div>

      <hr class="w-100 clearfix d-md-none">
      <div class="col-md-4 col-lg-4 col-xl-5">
        <div class="empty_space d-none d-md-block"></div>
        <p class="text-xs-center text-lg-right text-md-right">FAQ page</p><br>
        <p class="text-xs-center text-lg-right text-md-right"><a class="privacy_policy" href="/static/pdfs/Website_Privacy_Notice.pdf" target="_blank">Privacy Policy</a></p><br>
        <p class="text-xs-center text-lg-right text-md-right">Reg. Charity No. 1110140</p><br>
        <p class="text-xs-center text-lg-right text-md-right" id="bright_yellow_txt">NEW ACROPOLIS International</p>
        <div class="empty_space d-none d-md-block"></div>
        <div class="footnav">
          <a href="/" {%- if current_page == "" %} class="active"{% endif %}>About</a>
          <a href="/what-we-offer" {%- if current_page == "what-we-offer" %} class="active"{% endif %}>What we offer</a>
          <a href="/whats-on" {%- if current_page == "whats-on" %} class="active"{% endif %}>Whats on</a>
          <a href="/resources" {%- if current_page == "resources" %} class="active"{% endif %}>Resources</a>
          <a href="/e-shop" id="bright_yellow_txt" {%- if current_page == "e-shop" %} class="active" {% endif %}>E-shop</a>
        </div>
      </div>
    </div>
  </div>
</footer>
