<footer>
  <div class="container-fluid padding">
    <div class="row">
      <div class="col-md-4">
        <p>NEW ACROPOLIS UK</p>
        <p id="yellow_txt">Address:</p>
        <p>19 Compton Terrace,</p>
        <p>London, N1 2UN</p>
        <p id="yellow_txt">Telephone:</p>
        <p>0207 359 0059</p>
        <p id="yellow_txt">Nearest tube:</p>
        <p>Highbury & Islington,</p>
        <p>Victoria Line</p><br>
        <p id="yellow_txt">SEND US A MESSAGE</p>
        <div>
          <a class="footer_icons"><img src='/static/images/twitter.png'></a>
          <a class="footer_icons"><img src='/static/images/instagram.png'></a>
          <a class="footer_icons"><img src='/static/images/facebook.png'></a>
          <a class="footer_icons"><img src='/static/images/youtube.png'></a>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div>
          <img src="/static/images/home-image-magazine.png" class="footer_magazine"><br><br>
          <div class="magazine_form_padding">
            <form>
              <input class="subscribe" type="text" id="femail" name="femail" placeholder="subscribe to our magazine">
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="footer_side_text"><br><br>
          <p>FAQ page</p>
          <p>Privacy Policy</p>
          <p>Reg. Charity No. 1110140</p>
          <p id="yellow_txt">NEW ACROPOLIS International</p>
        </div>
        <div class="footer_nav">
          <div class="nav">
            <ul>
              <li {%- if current_page == "e-shop" %} class="nav_active active" id="yellow_txt"{% endif %}>
                  <a id="yellow_txt" href="/e-shop">E-shop</a>
              </li>
              <li {%- if current_page == "resources" %} class="nav_active active"{% endif %}>
                  <a href="/resources">Resources</a>
              </li>
              <li {%- if current_page == "whats-on" %} class="nav_active active"{% endif %}>
                  <a href="/whats-on">Whats on</a>
              </li>
              <li {%- if current_page == "what-we-offer" %} class="nav_active active"{% endif %}>
                  <a href="/what-we-offer">What we offer</a>
              </li>
              <li {%- if current_page == "/" %} class="nav_active active"{% endif %}>
                  <a href="/">About</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
