<nav class="navbar navbar-expand-xl navbar-dark">
  <a class="navbar-brand" href="/"><img src="/static/images/acropolis_header.png" class="img-fluid"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span style="color:white;font-family:'AvenirNext-Medium',Helvetica,Arial,serif">
    {% if get_email() %}
    <a style='color:white' href='/logout'>Logout</a> {{ get_email() }}
    {% endif %}
  </span>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li {%- if current_page == "" %} class="nav-item active"{% endif %}>
          <a class="nav-link" href="/">About</a>
      </li>
      <li {%- if current_page == "what-we-offer" %} class="nav-item active"{% endif %}>
          <a class="nav-link" href="/what-we-offer">What we offer</a>
      </li>
      <li {%- if current_page == "whats-on" %} class="nav-item active"{% endif %}>
          <a class="nav-link" href="/whats-on">Whats on</a>
      </li>
      <li {%- if current_page == "resources" %} class="nav-item active"{% endif %}>
          <a class="nav-link" href="/resources">Resources</a>
      </li>
      <li {%- if current_page == "e-shop" %} class="nav-item active"{% endif %}>
          <a id="bright_yellow_txt" class="nav-link" href="/e-shop">E-shop</a>
      </li>
    </ul>
  </div>
</nav>
