<div class="header">
  <div class="header_navbannergrn">
    <div id="header_logo">
      <img class="header_nalogowhite" src="/static/images/na_logo_white.png">
      <img class="header_newacropoliswhite" src="/static/images/new_acropolis_white.png">
    </div>
    <div class="header_yellowbartop"></div>
    <div id="header_text">
      <div>About</div>
      <div>What we offer</div>
      <div>What’s On</div>
      <div>Resources</div>
      <div id="header_selected" class="header_eshop">E-shop</div>
    </div>
  </div>
</div>
