<div class="header">
  <div class="header_logo">
    <img src="/static/images/na_logo_white.png">
    <img src="/static/images/new_acropolis_white.png">
  </div>
  <div class="nav">
    <ul>
      <li class="header_nav_spacing"><a id="nav_shop" href="#e-shop">E-shop</a></li>
      <li class="header_nav_spacing"><a href="#resources">Resources</a></li>
      <li class="header_nav_spacing"><a href="#whatson">Whats on</a></li>
      <li class="header_nav_spacing"><a href="#whatweoffer">What we offer</a></li>
      <li><a href="#about">About</a></li>
    </ul>
  </div>
</div>
<div class="header_yellowbartop"></div>
