{% extends "views/api_base.html" %}
{% block api_content %}
<p>
    Log in with basic auth to see:
    <div>
        <a href="{{url_for('main.api_speakers')}}">Speakers</a>
    </div>
    <div>
        <a href="{{url_for('main.api_venues')}}">Venues</a>
    </div>
    <div>
        <a href="{{url_for('main.api_future_events')}}">Future events</a>
    </div>
    <div>
        <a href="{{url_for('main.api_past_events')}}">Past events</a>
    </div>
    <div>
        <a href="{{url_for('main.api_articles_summary')}}">Articles</a>
    </div>
</p>
{% endblock %}
