{% extends "base.html" %}
{% block title %}Coure details{% endblock %}
{% block content %}

  {% include "course_details/timeless_universal.html" %}
  
  <div class="container-fluid padding">
    <div class="row text-center">
      <img src="/static/images/course_details_quote.png" class="courses_header_img">
    </div>
  </div>

  <div class="course_details_key_padding">
    <div class="course_details_key_box">
      <div class="course_details_key_padding">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="display-4 text-center"> KEY CHARACTERS/IDEAS/EVENTS </h1>
          </div>
          <div class="col-3">
            <img src="/static/images/course_details_img1.png" class="img-fluid">
          </div>
          <div class="col-3">
            <img src="/static/images/course_details_img2.png" class="img-fluid">
          </div>
          <div class="col-6">
            <div class="course_details_text">
              <h3>History Past & Future</h3>
              <p>lorem ipsum</p>
            </div>
          </div>
          <div class="col-3">
            <img src="/static/images/course_details_img1.png" class="img-fluid">
          </div>
          <div class="col-6">
            <div class="course_details_text">
              <h3>History Past & Future</h3>
              <p>lorem ipsum</p>
            </div>
          </div>
          <div class="col-3">
            <img src="/static/images/course_details_img2.png" class="img-fluid">
          </div>
          <div class="col-6">
            <div class="course_details_text">
              <h3>History Past & Future</h3>
              <p>lorem ipsum</p>
            </div>
          </div>
          <div class="col-6">
            <img src="/static/images/course_details_img3.png" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}
