{% extends "base.html" %}
{% block title %}Events{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Events</h1>
    <p class="important">
        {% for item in events %}
            <p>
                {{ item.title }}<br>{{ item.sub_title if item.sub_title else '' }} 
                {% for date in item.event_dates %}
                    <div>
                        {{ date.event_datetime }}
                    </div>
                {% endfor %}
                <div>
                    {{ item.description | safe }}
                </div>
                <div>
                    {{ item.venue.address }}
                </div>
                <div>
                    <img src="{{ api_base_url }}images/{{ item.image_filename }}" width=100>
                </div>
                </p>
        {% endfor %}
    </p>
{% endblock %}
