<div class="header">
  <div class="header_yellowbartop"></div>
  <div class="header_navbannergrn"></div>
  <div class="header_about">About</div>
  <div class="header_whatweoffer">What we offer</div>
  <div class="header_whatu2019son1">What’s On</div>
  <div class="header_resources">Resources</div>
  <div class="header_eshop">E-shop</div>
  <img class="header_nalogowhite" src="https://anima-uploads.s3.amazonaws.com/5be875abcec4df000d2fb40f/5be878becec4df000951c340/5be878c0cec4df000a409013/img/home-na-logowhite@2x.png" anima-src="https://anima-uploads.s3.amazonaws.com/5be875abcec4df000d2fb40f/5be878becec4df000951c340/5be878c0cec4df000a409013/img/home-na-logowhite@2x.png">
  <img class="header_newacropoliswhite" src="https://anima-uploads.s3.amazonaws.com/5be875abcec4df000d2fb40f/5be878becec4df000951c340/5be878c0cec4df000a409013/img/home-newacropolis-white.png" anima-src="https://anima-uploads.s3.amazonaws.com/5be875abcec4df000d2fb40f/5be878becec4df000951c340/5be878c0cec4df000a409013/img/home-newacropolis-white.png">
</div>