{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
{% endblock %}
{% block content %}

<body>
  <div id="homepage_carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      {% for event in future_events %}
        {% if event.image_filename %}
          <div class="carousel-item {% if loop.index == 1 %} active{% endif %}">
            <img class="d-block w-100" src="{{ images_url }}{{ event.image_filename }}">
            <div class="carousel_caption_block">
              <div class="carousel-caption d-md-block">
                <h2><a href=''>
                  {% if event.carousel_text %}
                    {{ event.carousel_text }}
                  {% else %}
                    {{ event.title }}
                  {% endif %}
                </a></h2>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="container-fluid padding">
    <div class="row text-center padding">
      <div class="col-lg-12">
        <p class="introtext">New Acropolis is a non-profit International Philosophical and Educational Movement working across the field of Philosophy, Culture and Volunteering. <br><br> 
          Our aim is to revive the understanding of key philosophical ideas from Eastern & Western traditions, in order to create the conditions for healthy and positive change within individuals, communities and the global environment. <br><br> 
          We beleive that the great philosophical and spiritual traditions of humanity offer essential keys, relevant today, that will enable us to meet our modern challenges and provide a wise foindation of our future civilisations.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid padding cream_backgroundcolour">
    <div class="row text-center ">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="pcv_padding">
          <div class="pcv_block">
            <h1> Philosophy </h1>
            <hr>
            <p>Comparative study and integration of wisdom from different traditions</p>
          </div>
        </div>
        <img src="/static/images/philosophy_icon.png" class="upw">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="pcv_padding">
          <div class="pcv_block">
            <h1> Culture </h1>
            <hr>
            <p>Working with other people and learning about ourselves</p>
          </div>
        </div>
        <img src="/static/images/culture_icon.png" class="upw">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="pcv_padding">
          <div class="pcv_block">
            <h1> Volunteering </h1>
            <hr>
            <p>Working with other people and learning about ourselves</p>
          </div>
        </div>
        <img src="/static/images/volunteering_icon.png" class="upw">
      </div>
    </div>
  </div>

  <div class="container-fluid padding blue_background">
    <div class="row text-center padding">
      <div class="col-lg-12">
        <h1 id="yellow_txt">School of Philosophy in the Classical Tradition</h1>
        <h2 id="yellow_txt">16 - week introductory course</h2><br>
        <h4> - COMPARATIVE STUDY PHILOSOPHY EAST AND WEST -
          daughter; he always struggled to reconcile.</h4><br>
        <h4>  - APPLIED PHILOSOPHICAL TRAINING
          daughter; he always struggled to reconcile.</h4><br><br>
        <button type="button" class="btn btn-light">find out more</button>
      </div>
    </div>
  </div>

  <div class="cream_backgroundcolour">
    <div class="container-fluid padding">
      <div class="row welcome text-center">
        <div class="col-12">
          <h1 class="display-4"> WHAT'S ON </h1>
        </div>
      </div>
    </div>
    
    <div class="container-fluid padding text-center">
      <div class="row padding">


        {% for event in all_events %}
          {{ count }}{% set count = loop.index0 %}
          <div class="col-md-4 col-sm-6">
            <div class="card cardmulti bg-light">
              <img class="card-img-top cardimgtopmulti" src="{{ images_url }}{{ all_events[count].image_filename }}">
              {% if event.get('past') %}
                <div class="card-body past_card_padding cream_backgroundcolour">
                <div class="past_corner"><span>Past Event</span></div>
                <div class="past_card_text_padding">
              {% else %}
                <div class="card-body">
              {% endif %}
                  <h4 class="card-title" id="blue_txt">{{ all_events[count].event_type }}</h4>
                  <p class="card-text cardtextmulti">{{ all_events[count].event_dates[0].event_datetime }}</p>
                  <p class="card-text cardtextmulti dark_grey_txt">{{ all_events[count].title }}</p>
              {% if event.get('past') %}
                </div>
              {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="cream_backgroundcolour">
      <div class="container-fluid padding">
        <div class="row welcome text-center">
          <div class="col-12">
            <h1 class="display-4"> FEATURED ARTICLES </h1>
          </div>
        </div>
      </div>
      <div class="container-fluid padding">
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="/static/images/featuredblock.png" class="card-img">
            </div>
            <div class="col-md-8">
              <div class="card-body" id="main_article">
                <h2 class="dark_grey_txt">{{ main_article.title }}</h2>
                <p class="light_text">{{ main_article.short_content }} <a href='/article/{{ main_article.id }}'>READ MORE</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid padding">
      <div class="row padding">
        <div class="col-md-3 col-sm-6">
          <div class="card cardmulti bg-light">
            <img class="card-img-top cardimgtopmulti" src="/static/images/featured1.png">
            <div class="card-body">
              <h4 id="article_1" class="card-title dark_grey_txt">{{ articles[0].title }}</h4>
              <p class="card-text cardtextmulti">{{ articles[0].very_short_content }} <a href='/article/{{ main_article.id }}'>READ MORE</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card cardmulti bg-light">
            <img class="card-img-top cardimgtopmulti" src="/static/images/featured2.png">
            <div class="card-body">
              <h4 id="article_2" class="card-title dark_grey_txt">{{ articles[1].title }}</h4>
              <p class="card-text cardtextmulti">{{ articles[1].very_short_content }} <a href='/article/{{ main_article.id }}'>READ MORE</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card cardmulti bg-light">
            <img class="card-img-top cardimgtopmulti" src="/static/images/featured3.png">
            <div class="card-body">
              <h4 id="article_3" class="card-title dark_grey_txt">{{ articles[2].title }}</h4>
              <p class="card-text cardtextmulti">{{ articles[2].very_short_content }} <a href='/article/{{ main_article.id }}'>READ MORE</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card cardmulti bg-light">
            <img class="card-img-top cardimgtopmulti" src="/static/images/featured4.png">
            <div class="card-body">
              <h4 id="article_4" class="card-title dark_grey_txt">{{ articles[3].title }}</h4>
              <p class="card-text cardtextmulti">{{ articles[3].very_short_content }} <a href='/article/{{ main_article.id }}'>READ MORE</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid padding">
      <div class="row text-center padding">
        <div class="col-lg-12 subscribe_section">
          <h1>Subscribe to our free bi-monthly magazine !</h1>
          <h3>Read articles covering esoterica, philosophy, art and more…</h3>
        </div>
      </div>
    </div>

    <div class="container-fluid padding">
      <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4 magazine_txt">
          <p>New Acropolis Magazine</p><br>
          <p>Download the latest issue</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <a data-target="#modalIMG" data-toggle="modal" href="#" class="color-gray-darker td-hover-none">
            <img class="card-img-top card_img_size" src="/static/images/home-image-magazine.png">
          </a>
          <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modalIMG" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-body mb-0 p-0">
                  <a href="/static/images/home-image-magazine.png" download><img src="/static/images/home-image-magazine.png" style="width:100%"></a>
                </div>
                <div class="modal-footer">
                  <div>
                    <a href="/static/images/home-image-magazine.png" target="_blank" download>Download</a>
                  </div>
                  <div>
                    <a href="/static/images/home-image-magazine.png" data-dismiss="modal">Close</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 text-center">
            {% if subscription_form %}
            <form action="/" method=post>
              {{ subscription_form.csrf_token }}
              <label for="fname"><h5>enter your email address below</h5></label><br>
              {{ subscription_form.email(class="magazine_email") }}
       
                {% for error in subscription_form.email.errors %}
                <li class="error_text">{{ error }}
                {% endfor %}
                <input class="submit_button" type="submit" value="Submit">
            </form>
          {% endif %}
          <br><br><br>
          <div class="magazine_box">
            <p>Annual UK postal subscription 4 Issues £12</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4"> FOUNDING CHARTER </h1>
      </div>
    </div>
  </div>
  <div class="container-fluid padding">
    <div class="row text-center padding">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="/static/images/founding-hands.png" class="founding_img"><br><br>
        <h5 class="founding_headings"> FRATERNITY </h5>
        <p class="light_text">To promote an Ideal of international fraternity, based on respect for human dignity, beyond racial, sexual, cultural, religious, social or other differences.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="/static/images/founding-book.png" class="founding_img"><br><br>
        <h5 class="founding_headings"> KNOWLEDGE </h5>
        <p class="light_text">To encourage the love of wisdom through the comparative study of philosophies, religions, sciences and arts, in order to promote the knowledge of the human being, the laws of Nature and the Universe.</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="/static/images/founding-spiral.png" class="founding_img"><br><br>
        <h5 class="founding_headings"> DEVELOPMENT </h5>
        <p class="light_text">To develop the best of the human potential, by promoting the realization of the human being as an individual and his or her integration as an active and conscious part of society and nature, in order to improve the world.</p>
      </div>
    </div>
  </div>

  {% include "components/contact.html" %}

  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script type="text/javascript">
   $(document).ready(function(){
     $('.carousel').slick({
       "autoplay": true,
       "autoplaySpeed": 5000,
     });
   });
  </script>
</body>
{% endblock %}
