{% extends "base1.html" %}
{% block style %}
<link rel="stylesheet" href="/static/css/style1.css" />
{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}
<body>
  <div class="mainbanner">
    <img src="/static/images/main_banner.png">
  </div>

  <div class="introtext">
    <div>
      New Acropolis is a non-profit International Philosophical and Educational Movement working across the field of Philosophy, Culture and Volunteering.<br><br>
      Our aim is to re-vive the understanding of key philosophical ideas from Eastern &amp;Western traditions, in order to create the conditions for healthy and positive change within individuals, communities and the global environment.<br><br>
      We beleive that the great philosophical and spiritual traditions of humanity offer essential keys, relevant today, that will enable us to meet our modern challenges
      and provide a wise foindation of our future civilisations.
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="block">
        <div class="block_text">Philosophy</div>
        <div class="inner_block_text">Comparative study and integration <br>of wisdom from different traditions</div>
        <img src="/static/images/philosophy_icon.png">
      </div>
    </div>
    <div class="column">
      <div class="block">
        <div class="block_text">Culture</div>
        <div class="inner_block_text">Working with other people and <br>learning about ourselves</div>
        <img src="/static/images/culture_icon.png">
      </div>
    </div>
    <div class="column">
      <div class="block">
        <div class="block_text">Volunteering</div>
        <div class="inner_block_text">Working with other people and <br>learning about ourselves</div>
        <img src="/static/images/volunteering_icon.png">
      </div>
    </div>
  </div>

  <div class="violetrect">
    <div>
    <div class="schoolofphilosophy">School of Philosophy in the Classical Tradition<br></div>
    <div class="schoolofphilosophy_sub">16 - week introductory course</div><br>
    <div class="schoolofphilosophy_subtext">- COMPARATIVE STUDY PHILOSOPHY EAST AND WEST - <br> daughter; he always struggled to reconcile. </div><br>
    <div class="schoolofphilosophy_subtext">- APPLIED PHILOSOPHICAL TRAINING<br> daughter; he always struggled to reconcile. </div><br>
    <button class="findoutmore_button" type="button">find out more</button>
  </div>
  </div>

  <div class="whatson_heading"> WHAT'S ON </div>
  <div class="row">
    <div class="findoutmore_column">
      <div class="whatson_block">
        <img class="cropimg" src="/static/images/whatson1.png"><br><br>
        <div class="whatson_block_heading">16-WEEK COURSE</div>
        <div>11 April 2018 at 7 PM</div><br>
        <div class="whatson_block_subheading">Philosophies of East & West</div>
      </div>
    </div>
    <div class="findoutmore_column">
      <div class="whatson_block">
        <img src="/static/images/whatson2.png"><br><br>
        <div class="whatson_block_heading">4-WEEK COURSE</div>
        <div>11 April 2018 at 7 PM</div><br>
        <div class="whatson_block_subheading">The Power of Myth</div>
      </div>
    </div>
    <div class="findoutmore_column">
      <div class="whatson_block">
        <img src="/static/images/whatson3.png"><br><br>
        <div class="whatson_block_heading">TALK</div>
        <div>11 April 2018 at 7 PM</div><br>
        <div class="whatson_block_subheading">The Language of Symbols</div>
      </div>
    </div>
  </div>

  <div class="featured_heading"> FEATURED ARTICLES </div>
  <div class="row">
    <div class="featured_block">
      <img class="featured_img" src="/static/images/featuredblock.png">
      <div class="featured_block_container">
        <div class="featured_block_heading">The Esoteric Side of Rome</div><br>
        <div>The following article covers a topic that has recently moved to center stage–at least it seems that way. If you’ve been thinking you need to know more about unconditional love, here’s your opportunity.<br>When darkness turns to day, the sun moves over the horizon and touches everything in sight. This movement across the landscape brightens everything. Such an illumination awakens us all. We rise with energy moving in and through us allowing us to create a new day. A day unique from all the rest and creatively woven into our soul.&nbsp;&nbsp;This is the landscape of our soul…</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="featured_column">
      <div class="featured_quater">
        <img class="featured_block_imgs" src="/static/images/featured1.png"><br><br>
        <div class="featured_mini_block_heading">The Philosophy of Kant</div>
      </div>
    </div>
    <div class="featured_column">
      <div class="featured_quater">
        <img class="featured_block_imgs" src="/static/images/featured2.png"><br><br>
        <div class="featured_mini_block_heading">The Age of Aquarius</div>
      </div>
    </div>
    <div class="featured_column">
      <div class="featured_quater">
        <img class="featured_block_imgs" src="/static/images/featured3.png"><br><br>
        <div class="featured_mini_block_heading">Politics and Art</div>
      </div>
    </div>
    <div class="featured_column">
      <div class="featured_quater">
        <img class="featured_block_imgs" src="/static/images/featured4.png"><br><br>
        <div class="featured_mini_block_heading">How to Ride the Bicycle</div>
      </div>
    </div>
  </div>

  <div class="subscribe_rectangle">
    <div>Subscribe to our free bi-monthly magazine !</div>
    <div class="subscribe_text">Read articles covering esoterica, philosophy, art and more…</div>
  </div>

</body>
{% endblock %}
