{% extends "base1.html" %}
{% block style %}
<link rel="stylesheet" href="/static/css/style1.css" />
{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}
<body>
  <div class="mainbanner">
    <img src="/static/images/main_banner.png">
  </div>

  <div class="introtext">
    <div>
      New Acropolis is a non-profit International Philosophical and Educational Movement working across the field of Philosophy, Culture and Volunteering.<br><br>
      Our aim is to re-vive the understanding of key philosophical ideas from Eastern &amp;Western traditions, in order to create the conditions for healthy and positive change within individuals, communities and the global environment.<br><br>
      We beleive that the great philosophical and spiritual traditions of humanity offer essential keys, relevant today, that will enable us to meet our modern challenges
      and provide a wise foindation of our future civilisations.
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="block">
        <div class="block_text">Philosophy</div>
        <div class="inner_block_text">Comparative study and integration <br>of wisdom from different traditions</div>
        <img src="/static/images/philosophy_icon.png">
      </div>
    </div>
    <div class="column">
      <div class="block">
        <div class="block_text">Culture</div>
        <div class="inner_block_text">Working with other people and <br>learning about ourselves</div>
        <img src="/static/images/culture_icon.png">
      </div>
    </div>
    <div class="column">
      <div class="block">
        <div class="block_text">Volunteering</div>
        <div class="inner_block_text">Working with other people and <br>learning about ourselves</div>
        <img src="/static/images/volunteering_icon.png">
      </div>
    </div>
  </div>

  <div class="violetrect">
    <div>
    <div class="schoolofphilosophy">School of Philosophy in the Classical Tradition<br></div>
    <div class="schoolofphilosophy_sub">16 - week introductory course</div><br>
    <div class="schoolofphilosophy_subtext">- COMPARATIVE STUDY PHILOSOPHY EAST AND WEST - <br> daughter; he always struggled to reconcile. </div><br>
    <div class="schoolofphilosophy_subtext">- APPLIED PHILOSOPHICAL TRAINING<br> daughter; he always struggled to reconcile. </div><br>
    <button class="findoutmore_button" type="button">find out more</button>
  </div>
  </div>

  <div class="whatson_h1"> WHAT'S ON </div>
  <div class="row">
    <div class="findoutmore_column">
      <div class="whatson_block">
        <img class="cropimg" src="/static/images/whatson1.png">
      </div>
    </div>
    <div class="findoutmore_column">
      <div class="whatson_block">
        <img src="/static/images/whatson2.png">
      </div>
    </div>
    <div class="findoutmore_column">
      <div class="whatson_block">
        <img src="/static/images/whatson3.png">
      </div>
    </div>
  </div>


</body>
{% endblock %}
