{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
{% endblock %}
{% block content %}

<body>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      {% for event in events %}
        {% if event.image_filename %}
          <div class="carousel-item {% if loop.index == 1 %} active{% endif %}">
            <img class="d-block w-100" src="{{ images_url }}{{ event.image_filename }}">
            <div class="carousel_caption_block">
              <div class="carousel-caption d-md-block">
                <h2><a href=''>
                  {% if event.carousel_text %}
                    {{ event.carousel_text }}
                  {% else %}
                    {{ event.title }}
                  {% endif %}
                </a></h2>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="container-fluid padding">
    <div class="row text-center padding">
      <div class="col-lg-12">
        <p class="introtext">New Acropolis is a non-profit International Philosophical and Educational Movement working across the field of Philosophy, Culture and Volunteering. Our aim is to revive the understanding of key philosophical ideas from Eastern & Western traditions, in order to create the conditions for healthy and positive change within individuals, communities and the global environment. We beleive that the great philosophical and spiritual traditions of humanity offer essential keys, relevant today, that will enable us to meet our modern challenges and provide a wise foindation of our future civilisations.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid padding grey_backgroundcolour">
    <div class="row text-center ">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="pcv_padding">
          <div class="pcv_block">
            <h2> Philosophy </h2><br>
            <p>Comparative study and integration of wisdom from different traditions</p>
          </div>
        </div>
        <img src="/static/images/philosophy_icon.png" class="upw">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="pcv_padding">
          <div class="pcv_block">
            <h2> Culture </h2><br>
            <p>Working with other people and learning about ourselves</p>
          </div>
        </div>
        <img src="/static/images/culture_icon.png" class="upw">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="pcv_padding">
          <div class="pcv_block">
            <h2> Volunteering </h2><br>
            <p>Working with other people and learning about ourselves</p>
          </div>
        </div>
        <img src="/static/images/volunteering_icon.png" class="upw">
      </div>
    </div>
  </div>

  <div class="container-fluid padding findoutmore_background">
    <div class="row text-center padding">
      <div class="col-lg-12">
        <h1 id="yellow_txt">School of Philosophy in the Classical Tradition</h1>
        <h2 id="yellow_txt">16 - week introductory course</h2><br>
        <h4> - COMPARATIVE STUDY PHILOSOPHY EAST AND WEST -
          daughter; he always struggled to reconcile.</h4>
        <h4>  - APPLIED PHILOSOPHICAL TRAINING
          daughter; he always struggled to reconcile.</h4><br><br>
        <button type="button" class="btn btn-light">find out more</button>
      </div>
    </div>
  </div>

  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4"> WHAT'S ON </h1>
      </div>
    </div>
  </div>
  {% if events|length > 0 %}
  <div class="container-fluid padding text-center">
    <div class="row padding">
      <div class="col-md-4 col-sm-6">
        <div class="card bg-light">
          <img class="card-img-top" src="{{ images_url }}{{ events[0].image_filename }}">
          <div class="card-body">
            <h4 class="card-title">{{ events[0].title }}</h4>
            <p class="card-text">{{ events[0].event_type }}</p>
            <p class="card-text">{{ events[0].event_dates[0].event_datetime }}</p>
          </div>
        </div>
      </div>
      {% if events|length > 1 %}
      <div class="col-md-4 col-sm-6">
        <div class="card bg-light">
          <img class="card-img-top" src="{{ images_url }}{{ events[1].image_filename }}">
          <div class="card-body">
            <h4 class="card-title">{{ events[1].title }}</h4>
            <p class="card-text">{{ events[1].event_type }}</p>
            <p class="card-text">{{ events[1].event_dates[0].event_datetime }}</p>
          </div>
        </div>
      </div>
      {% endif %}
      {% if events|length > 2 %}
      <div class="col-md-4 col-sm-6">
        <div class="card bg-light">
          <img class="card-img-top" src="{{ images_url }}{{ events[2].image_filename }}">
          <div class="card-body">
            <h4 class="card-title">{{ events[2].title }}</h4>
            <p class="card-text">{{ events[2].event_type }}</p>
            <p class="card-text">{{ events[2].event_dates[0].event_datetime }}</p>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}

  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4"> FEATURED ARTICLES </h1>
      </div>
    </div>
  </div>
  <div class="container-fluid padding featured_background">
    <div class="row padding">
      <div class="col-lg-4">
        <img src="/static/images/featuredblock.png" class="img-fluid">
      </div>
      <div class="col-lg-8" id="main_article">
        <h2>{{ main_article.title }}</h2>
        <p>{{ main_article.short_content }} <a href='/article/{{ main_article.id }}'>READ MORE</a></p>
      </div>
    </div>
  </div>

  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-3 col-sm-6">
        <div class="card bg-light">
          <img class="card-img-top" src="/static/images/featured1.png">
          <div class="card-body">
            <h4 id="article_1" class="card-title">{{ articles[0].title }}</h4>
            <p class="card-text">{{ articles[0].very_short_content }} <a href='/article/{{ main_article.id }}'>READ MORE</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card bg-light">
          <img class="card-img-top" src="/static/images/featured2.png">
          <div class="card-body">
            <h4 id="article_2" class="card-title">{{ articles[1].title }}</h4>
            <p class="card-text">{{ articles[1].very_short_content }} <a href='/article/{{ main_article.id }}'>READ MORE</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card bg-light">
          <img class="card-img-top" src="/static/images/featured3.png">
          <div class="card-body">
            <h4 id="article_3" class="card-title">{{ articles[2].title }}</h4>
            <p class="card-text">{{ articles[2].very_short_content }} <a href='/article/{{ main_article.id }}'>READ MORE</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card bg-light">
          <img class="card-img-top" src="/static/images/featured4.png">
          <div class="card-body">
            <h4 id="article_4" class="card-title">{{ articles[3].title }}</h4>
            <p class="card-text">{{ articles[3].very_short_content }} <a href='/article/{{ main_article.id }}'>READ MORE</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid padding">
    <div class="row text-center padding">
      <div class="col-lg-12 subscribe_section">
        <h1>Subscribe to our free bi-monthly magazine !</h1>
        <h3>Read articles covering esoterica, philosophy, art and more…</h3>
      </div>
    </div>
  </div>

  <div class="container-fluid padding">
    <div class="row text-center padding">
      <div class="col-xs-12 col-sm-6 col-md-4 magazine_txt">
        <p>New Acropolis Magazine</p><br>
        <p>Download the latest issue</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="/static/images/home-image-magazine.png" class="img-fluid">
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <form>
          <label for="fname"><h5>enter your email address below</h5></label><br>
          <input class="magazine_email" type="text" id="femail" name="femail">
        </form><br><br><br><br>
        <div class="magazine_box">
          <p>Annual UK postal subscription 4 Issues £12</p>
        </div>
      </div>
    </div>
  </div>

  <div class="grey_backgroundcolour">
    <div class="container-fluid padding">
      <div class="row welcome text-center">
        <div class="col-12">
          <h1 class="display-4"> FOUNDING CHARTER </h1>
        </div>
      </div>
    </div>
    <div class="container-fluid padding">
      <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <img src="/static/images/founding-hands.png" class="founding_img">
          <h3> FRATERNITY </h3>
          <p>To promote an Ideal of international fraternity, based on respect for human dignity, beyond racial, sexual, cultural, religious, social or other differences.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <img src="/static/images/founding-book.png" class="founding_img">
          <h3> KNOWLEDGE </h3>
          <p>To encourage the love of wisdom through the comparative study of philosophies, religions, sciences and arts, in order to promote the knowledge of the human being, the laws of Nature and the Universe.</p>
        </div>
        <div class="col-xs-12 col-md-4">
          <img src="/static/images/founding-spiral.png" class="founding_img">
          <h3> DEVELOPMENT </h3>
          <p>To develop the best of the human potential, by promoting the realization of the human being as an individual and his or her integration as an active and conscious part of society and nature, in order to improve the world.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4"> CONTACT US </h1>
      </div>
    </div>
  </div>
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href='https://www.google.com/maps/place/New+Acropolis+Cultural+Association/@51.5449256,-0.1048801,17z/data=!3m1!4b1!4m5!3m4!1s0x48761b64e1e074d7:0x32458fe303edf6e2!8m2!3d51.5449223!4d-0.1026914' target='newwin'>
          <img src="/static/images/map.png" class="img-fluid contactus_img">
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="contactus_text">
          <h4>NEW ACROPOLIS UK</h4>
          <h5>Address:</h5>
          <p>19 Compton Terrace,</p>
          <p>London, N1 2UN</p>
          <h5>Telephone:</h5>
          <p>0207 359 0059</p>
          <h5>Nearest tube:</h5>
          <p>Highbury & Islington,</p>
          <p>Victoria Line</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="/static/images/home-school-entrance.png" class="img-fluid contactus_img">
      </div>
    </div>
  </div>

  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script type="text/javascript">
   $(document).ready(function(){
     $('.carousel').slick({
       "autoplay": true,
       "autoplaySpeed": 5000,
     });
   });
  </script>
</body>
{% endblock %}
