{% extends "base.html" %}
{% block title %}Subscription{% endblock %}

{% block content %}

<div class="container-fluid padding">
  <div class="row padding text-center ">
    <div class="col-xs-12 col-sm-12 col-md-6">
       <h2> Do you wish to subscribe to the Acropolis newsletter? </h2><br>
       <h4>Email: {{ email }}</h4><br>
       <button type="button">Click to confirm</button>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <iframe src="/static/pdfs/Website_Privacy_Notice.pdf" width="100%" height="480"></iframe>
    </div>
  </div>
</div>

{% endblock %}
