language: python
python:
  - "2.7"
before_deploy:
- echo $FE_CLIENT_SECRET_live | base64 --decode > fe-client-secret-live.json
- echo $FE_CLIENT_SECRET | base64 --decode > fe-client-secret.json
script:
- ./scripts/bootstrap.sh
- make test
deploy:
  - provider: gae
    skip_cleanup: true
    keyfile: fe-client-secret.json
    project: $PROJECT
    default: true
    on:
      branch: master
  - provider: gae
    skip_cleanup: true
    keyfile: fe-client-secret-live.json
    project: $PROJECT_live
    on:
      branch: master
      tags: true
