{% extends "views/api_test/api_base.html" %}
{% block title %}Articles{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block api_content %}
    <h1>Articles</h1>
    <p class="important">
        {% for item in articles %}
        <p>
            <a href='/article/{{ item.id }}'>{{ item.title }}</a>: {{ item.author }}<br>
            {{ item.short_content|safe }}
        </p>
        {% endfor %}
    </p>
{% endblock %}
