@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}
/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap
Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }
Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }
Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }
Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/


/* CUSTOM CSS */

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.navbar{
  font-family: 'AvenirNext-DemiBold',Helvetica,Arial,serif;
  padding: .8rem;
  background-color: rgb(10,134,101);
  border-bottom: solid 19px rgb(238,191,109);
}
.navbar-nav li {
  padding-right: 15px;
}
.nav-link {
  font-size: 1.2em;
  color: white;
}

/* FOOTER */

footer{
  background-color :rgb(10,134,101);
  color: white;
  padding: 2% 4% 2% 4%;
  font-size: 0.8em;
  line-height: 5px;
  border-top: solid 19px rgb(238,191,109);
  font-family: 'AvenirNext-Medium',Helvetica,Arial,serif;
}
.footer_icons{
  padding: 3% 3% 3% 0;
}
.empty_space{
  padding: 7%
}
.footnav {
  position: relative;
  overflow: hidden;
  border-top: white solid 1px;
  text-decoration: none;
  font-size: 1.2em;
}
.footnav a {
  float: left;
  color: rgb(211,211,211);
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}
.footnav a:hover {
  color: white;
}
.footnav a.active {
  color: white;
}
@media screen and (max-width: 900px) {
  .footnav a {
    float: none;
    display: block;
  }
}
.submit_button {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  padding: 8px;
  border-radius: 5px;
}

.submit_button:hover {
  background-color: #e7e7e7;
}
#yellow_txt {
  color: rgb(240,200,129);
}
#bright_yellow_txt {
  color: rgba(247,231,27,1.0);
}
#blue_txt {
  color: rgb(105,152,219);
}
#footer_title_txt {
  color: rgba(175,154,89);
}
.dark_grey_txt {
  font-family: 'AvenirNext-Medium',Helvetica,Arial,serif;
  color: rgb(74,74,74);
  font-size: 25px;
}
.footer_magazine{
  height: 215px;
  width: 160px;
}
.subscribe{
  width: 60%;
  background-color: rgba(215,215,215,1.0);
  height: 30px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(150,150,150,1.0);
  opacity: .63;
  text-align: center;
  margin: 0 auto;
}
.privacy_policy {
  color: white;
}
.privacy_policy:hover {
  color: white;
}
.error_text {
  color: red;
}

/* HOME top->bottom */
.carousel-item{
  min-height: 450px;
  max-height: 450px;
  background: no-repeat center center scroll;
  background-size: cover;
}
.carousel-item img {
  object-fit: cover;
  height: 450px;
  width: 100%;
}
.carousel-caption {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(150,150,150,1.0);
  height: auto;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  left:0 !important;
  font-family: 'AvenirNext-Bold',Helvetica,Arial,serif;
  margin-bottom: 20px;
}
.carousel-caption h2 a {
  color: white;
}
.introtext {
  font-family: 'AvenirNext-Medium',Helvetica,Arial,serif;
  padding: 2% 9% 2% 9%;
  font-size: 1.4em;
  color: rgb(157,157,157);
}
.cream_backgroundcolour{
  background-color: rgb(245,242,234);
}
.pcv_block{
  padding: 21% 12% 21% 12%;
  height: 320px;
  background-color: white;
  width: 100%;
  font-family: 'AvenirNext-DemiBold',Helvetica,Arial,serif;
  color: rgb(157,157,157); 
}
.pcv_padding {
  padding-bottom: 5%;
}
.upw{
  margin-top: -65px;
}
.blue_background {
  background-color: rgb(63,96,144);
  height: auto;
  width: 100%;
  color: white;
  padding: 3%;
}
.display-4 {
  font-family: 'AvenirNext-DemiBold',Helvetica,Arial,serif;
  padding-top: 2%
}
.cardmulti {
  background-color: rgba(215,215,215,1.0);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(150,150,150,1.0);
  height: 510px;
} 
.cardtextmulti {
  color: rgb(157,157,157);
}
.cardimgtopmulti {
  object-fit: cover;
  height: 252px;
}
.featured_background{
  background-color: rgba(215,215,215,1.0);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(150,150,150,1.0);
}
.light_text {
  font-family: 'AvenirNext-Medium',Helvetica,Arial,serif;
  color: rgb(157,157,157);
}
.subscribe_section{
  background-color: rgb(63,96,144);
  height: auto;
  width: 100%;
  font-family: 'AvenirNext-Bold',Helvetica,Arial,serif;
  color: white;
  line-height: 27.0px;
  padding: 1%;
}
.magazine_txt {
  font-size: 2.5em;
  font-family: 'AvenirNext-Bold',Helvetica,Arial,serif;
  color: rgb(105,152,219);
  text-align: right;
}
.magazine_email {
  background-color: rgba(215,215,215,1.0);
  height: 43px;
  min-width: 300px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(150,150,150,1.0);
  opacity: .33;
}
.magazine_box {
  background-color: rgb(238,191,109);
  border-radius: 8px;
  opacity: .76;
  height: auto;
  width: auto;
  font-family: 'AvenirNext-Bold',Helvetica,Arial,serif;
  font-size: 2em;
  color: rgb(74,74,74);
  line-height: 32.0px;
  padding: 5%;
}
.founding_img {
  background-color: rgb(10,134,101);
  height: 98px;
  width: 98px;
}
.card-img{
  object-fit: cover;
}
.overflow_img{
  overflow: hidden;
  height: 100%;
  width: 350px;
}
.featured_remove_padding_img{
  padding: 0;
}
/* Contact */
.card-img-top_contact {
  object-fit: cover;
  max-height: 300px;
}
.contactus_text{
  line-height: 10px;
  font-family: 'AvenirNext-Medium',Helvetica,Arial,serif;
  padding-left: 5%;
}
.contactus_padding {
  padding: 0% 5% 5% 5%;
}

.modal,.modal-open {
    padding-right: 0!important
}
.modal-open {
    overflow: auto
}
.scrollable {
    overflow-y: auto
}
.modal-footer {
	display: flex;
  justify-content: flex-start;
  height: 30px;
}
.card_img_size {
  max-height: 310px;
  max-width: 220px;
}
.modal-dialog{
  position: relative;
  display: table;
  overflow-y: auto;    
  overflow-x: auto;
  min-width: 450px;
  min-height: 760px;
}
@media screen and (max-width: 1100px) {
  .modal-body {
    max-width: 350px;
    max-height: 660px;
  }
  .modal-dialog {
    min-width: 350px;
    min-height: 660px;
  }
}
@media screen and (max-width: 800px) {
  .modal-body {
    max-width: 250px;
    max-height: 560px;
  }
  .modal-dialog {
    min-width: 250px;
    min-height: 560px;
  }
}
.modal-content{
  max-width: 450px;
  max-height: 760px;
}

/* About Page */
.about_box{
  height: auto;
  border: solid 2px rgba(121, 121, 121, 0.5);
}
.about_box_text{
  font-family: 'AvenirNext-DemiBold',Helvetica,Arial,serif;
  color: rgba(105, 105, 105, 0.5);
  padding: 2% 5% 2% 5%;
}
.about_blue_box_txt{
  font-family: 'AvenirNext-DemiBold',Helvetica,Arial,serif;
}
.pyramid {
  max-width: 450px;
  max-height: 450px;
  border: solid 2px rgba(121, 121, 121, 0.5);
}
.statistics_font {
  font-family: 'AvenirNext-Bold',Helvetica,Arial,serif;
  font-size: 4em;
}
.quote_img {
  width: 100%;
  height: auto;
}
.yellow_background{
  background-color: rgb(240,200,129);
}
.visit_website_section{
  height: auto;
  width: 100%;
  font-family: 'AvenirNext-Bold',Helvetica,Arial,serif;
  padding: 2% 5% 2% 5%;
}
.card-img_person {
  max-height: 420px;
  max-width: 420px;
}
.ourschool_text{
  font-family: 'AvenirNext-Medium',Helvetica,Arial,serif;
  padding: 2% 7% 2% 7%;
  width: 100%;
}
/* SUBSCIPTION */
.privacy_policy_iframe {
  width: 800;
  height: 800;
}

/* WHAT WE OFFER */
.course_card_imgs{
  overflow: hidden;
  height: 200px;
  width: 200px;
}
.courses_footer_img{
  width: 100%
}
.courses_boxes {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 3px solid white;
}
.courses_big_box{
  background-color: white;
  padding: 3%;
}