{% extends "base.html" %}
{% block extra_head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/en-gb.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/admin.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.en-GB.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.standalone.min.css"/>

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <style>
        .bg-default
        {
            background-color: #2F3E48;
            color: white;
        }

        .btn-default
        {
            border-color: #2F3E48;
        }

        .btn-default:hover
        {
            background-color: #2F3E48;
            color: white;
        }
    </style>
{% endblock %}

{% block content %}

{% macro admin_row(value, size=100, rows=0, cols=0, readonly=false, type='string') %}
            <div class="row">
                <div class='col-2'>
                    {{value.label}}
                </div>
                {% if rows > 0 %}
                    <div class='col-xs-4'>
                        {{value(rows=rows, cols=cols)}}
                    </div>
                {% elif type=='file' %}
                    <div class='col-xs-4'>
                        <img id='file_img'>
                        {{value}}
                        <div>
                            {{form.alt_event_images}}
                        </div>
                    </div>
                {% else %}
                    <div class='col-xs-4'>
                        {{value(size=size, readonly=readonly)}}
                    </div>
                {% endif %}
            </div>
{% endmacro %}

{% if user_has_permissions('event') %}
<div class="container pb-3 text-right">
    <form class="form" id="events_form" method="post" enctype="multipart/form-data">{{ form.csrf_token }}
        <div class='text-left'>
            <div class="row justify-content-center">
                <div class='col-7'>
                    <div class='row'>
                        <div class='col-11'>{{form.events}}</div>
                    </div>
                    <div class='row'>
                        <div id='status_bar' class='col-7 rounded mb-1 ml-3 pl-4 w-70 bg-default'>draft</div>
                        <div class="justify-content-end col-4">
                            <button id='copy-event' type="button" class="btn btn-success">Copy</button>
                            <a id='delete-event' disabled class="ml-4 btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class='col-xs-4'>
                    <div id="datepicker" data-date=""></div>
                    {{ form.dates }}
                </div>
                <div class="ml-5 mt-3 col-xs-3">
                    <div class="row align-items-center">
                        <div class='col--xs-3 border'>
                            <div id="starttime"></div>
                            {{ form.start_time }}
                        </div>
                        <div class='col-xs-1'>
                            <div class='text-center'>
                                to
                            </div>
                        </div>
                        <div class='col-xs-3 border'>
                            <div id="endtime"></div>
                            {{ form.end_time }}
                        </div>
                    </div>
                </div>
            </div>

            <div id='speaker_section'></div>
            {{ admin_row(form.event_type, size=1) }}
            {{ form.default_event_type }}
            {{ admin_row(form.title) }}
            {{ admin_row(form.sub_title) }}
            {{ admin_row(form.description, rows=5, cols=100) }}
            {{ admin_row(form.image_filename, type='file') }}
            {{ form.existing_image_filename }}
            {{ admin_row(form.fee, size=10) }}
            {{ admin_row(form.conc_fee, size=10) }}
            {{ admin_row(form.multi_day_fee, size=10) }}
            {{ admin_row(form.multi_day_conc_fee, size=10) }}
            {{ admin_row(form.venue, size=1) }}
            {{ admin_row(form.booking_code, readonly=true, size=20) }}
            {{ form.event_dates }}
        </div>
        <hr>
        {% if errors %}
        <div id='error_section' class='text-warning'></div>
        {% endif %}
        {% if message %}
        <div id='message' class='text-success pb-3'>{{message}}</div>
        {% endif %}
        <div class="justify-content-end">
            {{ form.submit_type }}
            <button id="preview" type="submit" class="btn btn-outline-info">Preview</button>
            <button id="draft" type="submit" class="btn btn-default">Draft</button>
            <button id="ready" type="submit" class="btn btn-outline-warning">Ready</button>
            {% if is_admin_user %}
                <button id="publish" type="submit" class="btn btn-outline-success">Publish</button>
                <button id="rejectBtn" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#rejectModal">Reject</button>

                <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="rejectModalLabel" style='white-space:pre;'>Enter rejection reason:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                        <div class="form-group">
                            {{ form.reject_reason(class_="form-control") }}
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="reject" type="submit" class="btn btn-outline-danger">Reject</button>
                    </div>
                    </div>
                </div>
                </div>
            {% endif %}
            <a href="{{ url_for('main.admin') }}" id="cancel" name="cancel" class="btn btn-outline-secondary">Cancel</a>
        </div>
    </form>
</div>

<script charset="utf-8" type="text/javascript">
var speakerCounter = 1;

$(function() {
    {% if temp_event %}
    temp_event = {{temp_event|safe}};
    {% endif %}

    $('#datepicker').datepicker({
        format: 'yyyy-mm-dd',
        multidate: true,
    });

    $('#preview').on('click', function() {
        $('#submit_type').val('preview');

        var send = {
            // alt_event_images: $('#alt_event_images').val(),
            event_type: $('#event_type').val(),
            title: $('#title').val(),
            sub_title: $('#sub_title').val(),
            description: $('#description').val(),
            image_filename: $('#file_img').attr('src').replace('{{images_url}}', ''),
            fee: $('#fee').val(),
            conc_fee: $('#conc_fee').val(),
            multi_day_fee: $('#multi_day_fee').val(),
            multi_day_conc_fee: $('#multi_day_conc_fee').val(),
            venue_id: $('#venue').val(),
            event_dates: getEventDates(true),
            start_time: $('#start_time').val(),
            end_time: $('#end_time').val()
        }

        console.log('vals: ' + send['_venue']);

        var preview = window.open("{{ url_for('main.preview_event') }}?data=" + encodeURIComponent(JSON.stringify(send)));
        setTimeout(function() {
            preview.postMessage(send, '*');
        }, 1000);

        return false;
    })

    $('#draft').on('click', function() {
        $('#submit_type').val('draft');
    })

    $('#ready').on('click', function() {
        $('#submit_type').val('ready');
    })

    $('#reject').on('click', function() {
        $('#submit_type').val('rejected');
    })

    $('#publish').on('click', function() {
        $('#submit_type').val('approved');
    })

    $('#datepicker').on('changeDate', function() {
        _dates = $('#datepicker').datepicker('getFormattedDate');

        if (!_dates) return;

        $('#dates').val(_dates);

        setSpeakerDates(_dates);
    });

    $('#starttime').datetimepicker({
        inline: true,
        format: 'HH:mm',
    }).data("DateTimePicker").date('19:00');

    $('#starttime').on('dp.change', function(event) {
        $('#start_time').val(
            event.date.format("HH:mm")
        );
    });

    $('#endtime').datetimepicker({
        inline: true,
        format: 'HH:mm',
    }).data("DateTimePicker").date('00:00');;

    $('#endtime').on('dp.change', function(event) {
        $('#end_time').val(
            event.date.format("HH:mm")
        );
    });

    $( "#events_form" ).submit(function() {
        prepSubmit();
    });

    var elements = {
        _events: $('#events'),
        _alt_event_images: $('#alt_event_images'),
        _event_type: $('#event_type'),
        _title: $('#title'),
        _sub_title: $('#sub_title'),
        _description: $('#description'),
        _booking_code: $('#booking_code'),
        _file_img: $('#file_img'),
        _fee: $('#fee'),
        _conc_fee: $('#conc_fee'),
        _multi_day_fee: $('#multi_day_fee'),
        _multi_day_conc_fee: $('#multi_day_conc_fee'),
        _venue: $('#venue'),
        _event_dates: $('#event_dates'),
        _start_time: $('#start_time'),
        _end_time: $('#end_time'),
        _dates: $('#dates'),
    };

    // call to update on load
    updateEvent();

    function updateEvent() {
        var send = {
            event: elements._events.val()
        };

        $('#pubish').prop('disabled', false);

        try {
            temp_event; 

            console.log(temp_event);
            elements._title.val(temp_event['title']);
            elements._sub_title.val(temp_event['sub_title']);
            elements._description.val(temp_event['description']);
            elements._booking_code.val(temp_event['booking_code']);
//            elements._file_img.val('');
//            elements._file_img.attr('style', 'display:none;');
            elements._fee.val(temp_event['fee']);
            elements._conc_fee.val(temp_event['con_fee']);
            elements._multi_day_fee.val(temp_event['multi_day_fee']);
            elements._multi_day_conc_fee.val(temp_event['multi_day_conc_fee']);
            elements._event_type.val(temp_event['event_type_id']);
            elements._venue.val(temp_event['venue_id']);

            set_event_dates(temp_event['event_dates']);
            set_start_time(temp_event['start_time']);
            set_end_time(temp_event['end_time']);

            {% if errors %}
            var errors = {{ errors|safe }};
            for (i=0; i<errors.length; i++) {
                addErrorRow(errors[i]['error'], errors[i]['message']);
            }
            {% endif %}
            delete temp_event;
        }
        catch(e) {
            elements._title.val('');
            elements._sub_title.val('');
            elements._description.val('');
            elements._booking_code.val('');
            elements._file_img.val('');
            elements._file_img.attr('style', 'display:none;');
            elements._fee.val('');
            elements._conc_fee.val('');
            elements._multi_day_fee.val('');
            elements._multi_day_conc_fee.val('');
            elements._dates.val('');
            elements._event_type.prop('selectedIndex', $('#default_event_type').val());
            elements._venue.prop('selectedIndex', 0);

            $('#datepicker').datepicker("setDate", '');
            set_start_time('19:00');
            set_end_time('00:00');

            $('#delete-event').prop("href", "/admin/_delete_event/" + $("#events").val());

            $('#speaker_section').empty();
            speakerCounter = 1;
        }
        $("#delete-event").prop('disabled', $("events").prop("selectedIndex") == 0);

        addSpeakerRow(speakerCounter);

        if (!elements._events.val()) {
            update_for_event_state('draft');
            return;
        }

        $.getJSON("{{ url_for('main._get_event') }}", send, function(data) {
            if (data) {
                console.log(data);
                elements._event_type.val(data['event_type_id']);
                elements._title.val(data['title']);
                elements._sub_title.val(data['sub_title']);
                elements._description.val(data['description']);
                elements._booking_code.val(data['booking_code']);
                elements._file_img.attr('style', 'display:none;');
                if (data['image_filename']) {
                    elements._file_img.attr('style', 'display:block;width:100px;');
                    elements._file_img.attr('src', '{{images_url}}' + data['image_filename']);
                }
                elements._fee.val(data['fee']);
                elements._conc_fee.val(data['conc_fee']);
                elements._multi_day_fee.val(data['multi_day_fee']);
                elements._multi_day_conc_fee.val(data['multi_day_conc_fee']);
                elements._dates.val(data['dates']);
                elements._venue.val(data['venue']['id']);

                set_event_dates(data['event_dates']);

                $('#datepicker').datepicker("setDate", data['dates']);
                set_start_time(data['event_time']);
                set_end_time(data['end_time']);

                update_for_event_state(data['event_state']);
            }
        });
    }

    function updateAltEventImage() {
        elements._file_img.attr('style', 'display:none;');
        elements._file_img.attr('src', '');

        var send = {
            event: elements._alt_event_images.val()
        };

        $.getJSON("{{ url_for('main._get_event') }}", send, function(data) {
            if (data) {
                console.log(data);
                if (data['image_filename']) {
                    elements._file_img.attr('style', 'display:block;width:100px;');
                    elements._file_img.attr('src', '{{images_url}}' + data['image_filename']);
                }
            }
        });
    }

    function update_for_event_state(event_state) {
        var base_css = 'rounded col-7 mb-1 ml-3 pl-4 w-70 ';
        var css = '';
        switch(event_state) {
            case 'draft': css = 'bg-default'; break;
            case 'ready': css = 'bg-warning'; break;
            case 'rejected': css = 'bg-danger text-white'; break;
            case 'approved': css = 'bg-success text-white'; break;
        }
        $('#status_bar').attr('class', base_css + css);
        $('#status_bar').text(event_state);
        {% if is_admin_user %}
            $('#rejectBtn').prop('disabled', event_state != 'ready');
            $('#publish').prop('disabled', event_state != 'ready');
        {% endif %}
    }

    function set_event_dates(event_dates) {
        var speakers = [];

        for (d_i=0; d_i < event_dates.length; d_i++) {
            var item = event_dates[d_i];

            for (l=0; l < item['speakers'].length; l++) {
                var speaker = item['speakers'][l];

                if (!speakers.includes(speaker['id'])) {
                    speakers.push(speaker['id']);
                    $('#speaker' + speakers.length).val(speaker['id']).change(
                        updateSpeaker(speakers.length, speaker['id']));

                    arr_dates = elements._dates.val().split(",").sort();

                    for (k=0; k<arr_dates.length; k++) {
                        s_date_id = 's_date' + speakers.length + '_' + arr_dates[k];

                        found = false;
                        for (s=0; s<event_dates[k]['speakers'].length; s++) {
                            if (speaker['id'] == event_dates[k]['speakers'][s]['id']) {
                                found = true;
                                break;
                            }
                        }

                        // set speaker dates to true, otherwise set them to false
                        $('#' + s_date_id).prop('checked', found).change();
                    }
                }
            }
        }
    }

    function set_start_time(event_time) {
        $('#starttime').data("DateTimePicker").date(event_time);
        $('#start_time').val(event_time);
    }

    function set_end_time(event_time) {
        if (event_time) {
            $('#endtime').data("DateTimePicker").date(event_time);
            $('#end_time').val(event_time);
        }
    }

    function addErrorRow(error_type, message) {
        $('#error_section').append(
            '<div class="row"><div class="col-2">' + 
            error_type + '</div><div class="col-10">' + message + '</div></div></div>'
        );
    }

    function addSpeakerRow(counter, turn_off) {
        $('#speaker_section').append(
            '<div id="speaker_row' + 
            counter + '" class="row"><div class="col-2">Speaker ' + 
            counter + '</div><div class="col-5">{{form.speakers}}</div><div id="speaker_dates' + 
            counter + '" class="row col-5 p-0 align-top"></div></div></div>'
        );

        if (elements._dates.val().length) {
            setSpeakerDates(elements._dates.val(), turn_off);
        }

        $('#speakers').attr('id', 'speaker' + counter);
        $('#speaker' + counter).prop('selectedIndex', 0);
        $('#speaker' + counter).on('change', function() {
            updateSpeaker(counter, this.value);
        });
    }

    function updateSpeaker(counter, value, turn_off) {
        nextId = '#speaker' + (counter + 1);

        if (value != '' && !$(nextId).length) {
            speakerCounter = counter + 1;
            addSpeakerRow(speakerCounter, turn_off);
        } else if (value == '') {
            for (i=counter; i < speakerCounter; i++) {
                var speakerIndex = i;

                $('#speaker' + i).val($('#speaker' + (i + 1)).val());

                if (i < speakerCounter - 1) {
                    var nextSpeakerIndex = speakerIndex + 1;
                    var speakerDivId = '#speaker_dates' + speakerIndex;
                    var nextSpeakerDivId = '#speaker_dates' + nextSpeakerIndex;

                    var dates_states = [];

                    arr_dates = elements._dates.val().split(",").sort();  
                    for (j=0; j < arr_dates.length; j++) {
                        s_date_id = 's_date' + speakerIndex + '_' + arr_dates[j];
                        next_s_date_id = 's_date' + nextSpeakerIndex + '_' + arr_dates[j];

                        $('#' + s_date_id).prop('checked', $('#' + next_s_date_id).is(':checked')).change();
                    }
                }

                // reset last speaker dates to true
                for (j=0; j < arr_dates.length; j++) {
                    s_date_id = 's_date' + (speakerCounter - 1) + '_' + arr_dates[j];

                    $('#' + s_date_id).prop('checked', true).change();
                }
            }
            $('#speaker_row' + speakerCounter).remove();
            speakerCounter--;
        }
    }

    function setSpeakerDates(_dates, turn_off) {
        if (_dates) {
            arr_dates = _dates.split(",").sort();
        }

        for (s=0; s < speakerCounter; s++) {
            var speakerIndex = s + 1;
            var speakerDivId = '#speaker_dates' + speakerIndex;
            var dates_added = [];

            if (!_dates) {
                $(speakerDivId).html('');
                continue;
            }

            var currentState = [];

            for (j=0; j < arr_dates.length; j++) {
                s_date_id = 's_date' + speakerIndex + '_' + arr_dates[j];

                if ($('#' + s_date_id).length) {
                    currentState[s_date_id] = $('#' + s_date_id).is(':checked');
                }
            }

            $(speakerDivId).html('');

            for (i=0; i < arr_dates.length; i++) {
                date_parts = arr_dates[i].split('-');
                s_date_id = 's_date' + speakerIndex + '_' + arr_dates[i];
                if ($.inArray(s_date_id, dates_added) >= 0) continue;
                dates_added.push(s_date_id);
                $(speakerDivId).append('<div class="col-2"><input id="' + s_date_id + '" checked type="checkbox"></div>');

                $('<script>')
                    .attr('type', 'text/javascript')
                    .text('$(function() {$("#' + s_date_id + '").bootstrapToggle({' + 
                        'on: "' + date_parts[2] + '/' + date_parts[1] + '", off: "' + date_parts[2] + '/' + date_parts[1] + '",' +
                        'size: "small"' +
                    '});})')
                    .appendTo(speakerDivId);
            }

            for (j=0; j < arr_dates.length; j++) {
                s_date_id = 's_date' + speakerIndex + '_' + arr_dates[j];

                if (turn_off) {
                    date_state = false;
                } else {
                    date_state = currentState[s_date_id];
                }

                $('#' + s_date_id).prop('checked', date_state).change();
            }
        }
    }

    function getEventDates(is_preview) {
        event_dates = [];

        arr_dates = $('#dates').val().split(",").sort();

        for (j=0; j<arr_dates.length; j++) {
            speakers = [];
            for (i=1; i<speakerCounter; i++) {
                s_date_id = 's_date' + i + '_' + arr_dates[j];

                if ($('#' + s_date_id).is(':checked')) {
                    speakers.push({'speaker_id': $('#speaker' + i).val()});
                }
            }
            event_date = arr_dates[j] + ' '  + $('#start_time').val()
            if (is_preview) {
                event_dates.push({'event_datetime': event_date, 'speakers': speakers, 'end_time': $('#end_time').val()});
            }
            else 
                event_dates.push({'event_date': event_date, 'speakers': speakers, 'end_time': $('#end_time').val()});
        }

        return event_dates;
    }

    function prepSubmit() {
        event_dates = getEventDates();

        $('#event_dates').val(JSON.stringify(event_dates));
        if ($('#file_img').attr('src'))
            $('#existing_image_filename').val($('#file_img').attr('src').replace('{{images_url}}', ''));
        $('#pubish').prop('disabled', true);
    }

    $('#copy-event').on('click', function() {
        today = moment(new Date()).format("YYYY-MM-DD");
        $('#datepicker').datepicker("setDate", today);
        elements._booking_code.val('');
        $("#events").prop("selectedIndex", 0);
    })

    {% if message %}
    var showMessage=true;
    elements._events.on('change', function() {
        if (!showMessage) {
            $('#message').attr('style', 'display:none;');
        }
        showMessage = false;
        updateEvent();
    });
    {% else %}
    elements._events.on('change', function() {
        updateEvent();
    });
    {% endif %}
    elements._alt_event_images.on('change', function() {
        updateAltEventImage();
    });

    {% if selected_event_id %}
    $("#events").val("{{selected_event_id}}").change();
    {% endif %}
});

</script>
{% endif %}
{% endblock %}
